@import '../../Settings/import';

.auth__block-item {
  // border: 2px solid #d3d3d3;
  border-radius: 7px;
  margin: 0 auto;
}

.auth__block-title {
  @include InterBold(17px, #515254, 24px);
  padding: 16px 25px;
  border-bottom: 1px solid #e7e7e7;
}

.auth__block-description {
  @include InterRegular(15px, #4e4e4e, 19px);
  padding: 6px 25px;
  text-align: justify;
}

.pass {
  max-width: 180px;
  width: 100%;
  padding: 10px 15px;
  margin-left: 25px;
}

.auth__block-pass span {
  @include InterRegular(16px, #606582, 19px);
  cursor: pointer;
  margin-left: 18px;
}

.auth__block-footer {
  background: #f5f6f8;
  border-radius: 3px 3px 7px 7px;
  padding: 10px 25px;
}

.auth__block-footer a {
  @include InterRegular(14px, #60677a, 17px);
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #60677a;
}

.auth__block-footer button {
  @include InterMedium(16px, #ffffff, 19px);
  background: #d6d7d9;
  border-radius: 3px;
  padding: 10px 23px;
  border: none;

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }

  &.active {
    background: #0076f6;
  }
}

.input__wrapper {
  position: relative;
}

.input__alert {
  position: absolute;
  top: calc(100% + 4px);
  left: 25px;
  width: max-content;
}


.auth_btn button {
  @include InterMedium(16px, #ffffff, 19px);
  background: #d6d7d9;
  border-radius: 3px;
  padding: 12px 10px;
  border: none;
  &:disabled {

    opacity: 0.5;
    cursor: not-allowed;
  }


  &.active {
    background: #0076f6;
  }
}

.mb15 {
  margin-bottom: 15px;
}

.auth_btn2 button {
  @include InterMedium(16px, #ffffff, 19px);
  background: #d6d7d9;
  border-radius: 3px;
  padding: 10px 23px;
  border: none;

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }

  &.greenBg {
    background: green;
  }


  &.active {
    background: #0076f6;
  }
}