@import "../../../Settings/import";

.security__block-check {
  max-width: 300px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 1rem auto 1rem;
}

.security {
  margin: 32px 0 6px 0;

  &__block {
    max-width: 650px;
    // border: 1px solid #D1D1D1;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;

    &-picture img {
      width: 100%;
      border-radius: 15px 15px 0px 0px;
    }

    &-logo {
      display: flex;
      justify-content: center;
      margin: 32px 0px 24px;

      img {
        max-width: 350px;
        width: 100%;
      }
    }

    &-title {
      @include InterSemiBold(28px, #000000E2, 34px);
      margin: 8px 0 21px;
    }

    &-text {
      @include InterRegular(20px, #000000E2, 24px);
      text-align: center;
    }

    &-button {
      width: 100%;
      padding: 0 18px 20px
    }
  }
}
